# Weather Prediction

In [1]:
import pandas as pd
import numpy as np
import pickle

# preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_selection import SelectKBest, SelectFromModel, chi2, f_classif

# models
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.linear_model import LogisticRegression, RidgeClassifier, SGDClassifier
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier, GradientBoostingClassifier, AdaBoostClassifier
# import xgboost

# gridsearch and pipelining
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, ParameterGrid, KFold

# sklearn utils
from sklearn.externals import joblib

# suppress warnings
import warnings
warnings.filterwarnings("ignore")

## Data Loading and Preprocessing

In [9]:
col_name = ["ID", "Date", "Element", "DataValue", "MFlag", "QFlag", "SFlag", "ObsTime"]
data_2014 = pd.read_csv('2014.csv', header = None, names = col_name)
data_2015 = pd.read_csv('2015.csv', header = None, names = col_name)
data_2016 = pd.read_csv('2016.csv', header = None, names = col_name)
data_2017 = pd.read_csv('2017.csv', header = None, names = col_name)

In [10]:
data_2014.head()

            ID      Date Element  DataValue MFlag QFlag SFlag  ObsTime
0  ASN00015643  20140101    TMAX        424   NaN   NaN     a      NaN
1  ASN00015643  20140101    TMIN        227   NaN   NaN     a      NaN
2  ASN00015643  20140101    PRCP          0   NaN   NaN     a      NaN
3  US1MNCV0008  20140101    PRCP          0   NaN   NaN     N      NaN
4  US1MNCV0008  20140101    SNOW          0   NaN   NaN     N      NaN

In [16]:
df = data_2014[1:100]

In [29]:
df['SUB_ID'] = df.ID + df.Date.astype(str)
df = df.drop(['ID', 'Date'], 1)

In [32]:
df.head()

  Element  DataValue MFlag QFlag SFlag  ObsTime               SUB_ID
1    TMIN        227   NaN   NaN     a      NaN  ASN0001564320140101
2    PRCP          0   NaN   NaN     a      NaN  ASN0001564320140101
3    PRCP          0   NaN   NaN     N      NaN  US1MNCV000820140101
4    SNOW          0   NaN   NaN     N      NaN  US1MNCV000820140101
5    WESF          0   NaN   NaN     N      NaN  US1MNCV000820140101